# ignore files that start with pa_stable
pa_stable*
# ignore the directory named portaudio
portaudio/

SampleWav/

.vscode/

Simple-WebSocket-Server/

mcp/.env
mcp/node_modules/

node_modules/

webrtc/node_modules/
webrtc/coturn/
webrtc/coturn.log
webrtc/SoundTouchJS/
webrtc/server.log
webrtc/favicon.ico
webrtc/package-lock.json
webrtc/dist/
webrtc/sfu/libsrtp-2.7.0/
webrtc/sfu/libwebsockets/
webrtc/sfu/janus-gateway/
webrtc/sfu/usrsctp/
